body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}

#top {
    text-align: center;
    background-color: #8BCD32;
    margin-bottom: 40px;
    margin-top: 150px;
    width: 80%;
    display: inline-block;
    padding: 6%;
    padding-top: 3%;
}

.top_divider {
    height: 8px;
    background-color: #FFFFFF;
    text-align: center;
    width: 50%;
    border: none;
}

.ingr_type {
    text-align: center;
    font-size: 44px;
}

.banner_1, .banner_2 {
    margin-bottom: 40px;
    width: 80%;
    display: inline-block;
    padding: 6%;
}

.banner_1 {background-color: #FDA02D;}
.banner_2 {background-color: #8BCD32;}

.banner_1 p {
    text-align: right;
    width: 50%;
    float: right;
    margin-top: 6%;
}

.banner_2 p {
    text-align: left;
    width: 50%;
    float: left;
    margin-top: 6%;
}

.left_image {
    width: 40%;
    float: left;
}

.right_image {
    width: 40%;
    float: right;
}
