body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}

#footer {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #8BCD32;
    display: flex;
    align-items: center;
}

#legal {
    font-size: 15px;
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 3%;
}

#questions {
    font-size: 15px;
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 3%;
}

.footer_link {
    color: #FFFFFF;
}

ul.header {
  font-size: 1.3em;
  list-style-type: none;
  overflow: hidden;
  background-color: #8BCD32;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 99;
}
li.header {
  float: left;
}
li.header a.header {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}
li.header a.header:hover {
  background-color: #FDA02D;
}
img.header {
    width: auto;
}
